/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f5c52f;
  --header-color: #222626;
}


.border-bottom {
  border-bottom: 1px solid #d3d3d3;
}

.separate {
  display: block;
  border-right: 1px solid #ccc;
  margin: 0 20px;
  height: 20px;
}

.primary-btn {
  background-color: var(--primary-color);
  color: #000;
}